.layout-container {
  min-height: 100vh !important;
}

.site-layout {
  height: 100vh;
  min-height: 100vh;
}

.header-container {
  height: 80px !important;
  padding: 0 !important;
  background: white !important;
}

.content-wrapper {
  height: calc(100% - 48px);
  overflow-y: scroll;
  margin: 24px;
  padding: 24px;
  background: white;
}