.layout-container {
  /* min-height: 100vh !important; */
  height: 100vh;
}

.site-layout {
  height: 100%;
  /* min-height: 100vh; */
}

.header-container {
  height: 80px !important;
  padding: 0 !important;
  background: white !important;
}

.content-wrapper {
  height: calc(100% - 48px);
  overflow: scroll;
  margin: 24px;
  padding: 36px;
  background: white;
}